body {
    background-color: antiquewhite;
}

#hero {
    border: darkred 2px solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#about {
    border: darkorange 2px solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#services {
    border: darkgoldenrod 2px solid;
    margin: 20px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.service {
    border: darkkhaki 2px solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.fine-print {
    font-size: 0.6em;
    color: rgb(132, 130, 130);
}

#testimonials {
    border: darkgreen 2px solid;
    margin: 20px;
}

.testimonials {
    border: darkseagreen 2px solid;
    margin: 30px;
    display: flex;
}

.testimonials-title {
    text-align: center;
    margin-bottom: 10px;
}

.testimonials-subtitle {
    margin-bottom: 35px;
}

.testimonial {
    border: darkolivegreen 2px solid;
    margin: 10px;
    flex: 1;
}

#contact {
    border: darkblue 2px solid;
    margin: 20px;
}

.contact-title, .contact-para {
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
}

.social-links-list .social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-form {
    border: darkslateblue 2px solid;
    margin: 20px;
    padding: 20px;
}

.form-row {
    display: flex;
    gap: 10px;
}