body {
    background-color: antiquewhite;
}

#hero {
    border: #B36A4B 5px solid;
    margin: 20px;
    height: 100vh;
    background-color: #1E1D20;
    color: #F3EEE9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about {
    border: #5A6C6A 5px solid;
    margin: 20px;
    padding: 10px;
    background-color: #D4C8BC;
    color: #2E2B2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
}

.about-image img {
    width: 250px;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.about-paras {
    flex: 1;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

#services {
    border: #B36A4B 5px solid;
    margin: 20px;
    background-color: #F3EEE9;
    color: #2E2B2F;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.service {
    border: #B36A4B 5px solid;
    margin: 10px;
    padding: 20px;
    height: 100%;
    flex: 1;
    background-color: #D4C8BC;
    color: #2E2B2F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.service-subtitle {
    color: #B36A4B;
}

.fine-print {
    font-size: 0.6em;
    color: rgb(132, 130, 130);
}

#gallery {
    border: #5A6C6A 5px solid;
    margin: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #2E2B2F;
}

.gallery {
    border: #B36A4B 5px solid;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image {
    border: #5A6C6A 5px solid;
    margin: 10px;
    flex: 1;
}

#testimonials {
    border: #B36A4B 5px solid;
    margin: 20px;
    background-color: #D4C8BC;
    color: #2E2B2F;
}

.testimonials {
    border: #5A6C6A 5px solid;
    margin: 30px;
    display: flex;
}

.testimonials-title {
    text-align: center;
    margin-bottom: 10px;
}

.testimonials-subtitle {
    margin-bottom: 35px;
}

.testimonial {
    border: #B36A4B 5px solid;
    margin: 10px;
    flex: 1;
}

#contact {
    border: #5A6C6A 5px solid;
    margin: 20px;
    background-color: #F3EEE9;
    color: #2E2B2F;
}

.contact-title, .contact-para {
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
}

.social-links-list .social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-form {
    border: #B36A4B 5px solid;
    margin: 20px;
    padding: 20px;
}

.form-row {
    display: flex;
    gap: 10px;
}